<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <title>Notifications</title>
    <link rel="stylesheet" href="/css/notifications.css">
</head>
</head>
<body>
    <div class="content">
        <nav class="navbar">
            <ul>
                <div class="header--Logo">
                    <i class="fa-solid fa-hand-holding-droplet"></i>
                    <li><a href="#" class="title">HabiTree</a></li>
                </div>
                <div class="content--navbar">
                    <li class="navbar-item"><i class="fa-solid fa-user-group navbar--icon"></i>Leagues</li>
                    <li class="navbar-item"><i class="fa-solid fa-circle-question navbar--icon"></i>Quizzes</li>
                    <li class="navbar-item"><i class="fa-solid fa-bell navbar--icon"></i>Notifications</li>
                    <li class="navbar-item"><i class="fa-solid fa-cart-shopping navbar--icon"></i>Store</li>
                    <li class="navbar-item"><i class="fa-solid fa-box-archive navbar--icon"></i>Rewards</li>
                    <li class="navbar-item"><i class="fa-solid fa-bullseye navbar--icon"></i>Missions</li>
                    <li class="navbar-item"><i class="fa-solid fa-user navbar--icon"></i>User</li>
                </div>
                <div class="navbar__logout">
                    <li class="navbar-item"><i class="fa-solid fa-right-from-bracket navbar--icon"></i>Logout</li>
                </div>
            </ul>
        </nav>

        <div class="Dashboard_content">
            <div class="Dashboard__title-container">
                <h1 class="Dashboard__title">Notifications</h1>
                <div class="container__button">
                    <button class="instrument-sans-bold header__button">Add</button>
                </div>
            </div>

            <div class="table-container instrument-sans-regular">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Active</th>
                            <th class="actions">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (notifications && notifications[0] && notifications[0][0] && notifications[0][0].IDNotification) { %>
                            <% notifications[0].forEach(function(notification) { %>
                                <tr>
                                    <td><%= notification.IDNotification %></td>
                                    <td><%= notification.dateCreated %></td>
                                    <td><%= notification.description %></td>
                                    <td><%= notification.category %></td>
                                    <td><%= notification.isActive ? 'Sí' : 'No' %></td>
                                    <td class="actions"><button class="table__button">Manage</button></td>
                                </tr>
                            <% }) %>
                        <% } else { %>
                            <tr>
                                <td colspan="6" style="text-align:center;">No notifications available</td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="modal-root"></div>

    <div id="backdrop" class="backdrop"></div>
    <script src="/js/editNotifications.js" defer></script>
</body>
</html>

